.authentication__header {
  color:rgb(255, 255, 255);
  text-align: left;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center; 
  background-color: rgb(233, 231, 231);
  border-style: double;
  border-radius: 5%;
}

.authentication form {
  margin-bottom: 1rem;
}

#name {
  border-radius: 10px;
}
#email {
  border-radius: 10px;
}
#password {
  border-radius: 10px;
}